@media (max-width: 450px) {
  p {
    text-align: left !important;
    width: 100% !important;
    padding-top: 20px !important;
  }
  .navBarSection{
    padding: 2% 0;
  }
  .headerTop {
    display: none;
  }
  .logoContainerr {
    display: block;
    width: 30%;
  }

  .navbar-toggler,
  .navbar-toggler-icon {
    background-color: white;
   
  }
  .navbar-toggler-icon {
    height: 1em;
    width: 1em;
  }
  .logoContainer {
    width: 43%;
  }
  .logoContainerr > img {
    width: 100%;
  }
  .homeSection {
    padding-top: 50px;
  }
  .homeSectionheading {
    text-align: center;
  }
  .formSectionContainer {
    margin-top: 2%;
  }
  .homeSectionheadingContainer > h1 {
    font-size: 2rem;
  }
  .formContainer {
    padding: 3% 5%;
  }
  .formSectionContainer .formContainer input {
    height: 30px;
    width: 100%;
  }
  .transportSection p {
    text-align: left !important;
    width: 100% !important;
    padding-top: 20px !important;
  }
  .iconSection {
    flex-direction: column;
  }
  .icon{
    animation: none;
  }
  .newsContainer {
    flex-direction: column;
    gap: 20px;
  }
  .card {
    width: 100% !important;
  }

  .cardCircle {
    display: none !important;
  }
  .testimonials {
    flex-direction: column;
    gap: 20px;
    padding-top: 0px !important;
  }
  .testimonialCard {
    width: 100% !important;
  }
  .formSection {
    padding-top: 0 !important;
  }
  .formSection > form {
    width: 100% !important;
  }
  .footerUprBar > div {
    flex-direction: column;
  }
  .footerSection > div {
    flex-direction: column;
  }
  .footerLeft {
    border: 0;
  }
}
